<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825914981253-5eooken766vs16afg83t7ueo5446of13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825914981253-5eooken766vs16afg83t7ueo5446of13</string>
	<key>API_KEY</key>
	<string>AIzaSyBflt_aHwGILhojr8Tmdy_1xNc2m53dtrU</string>
	<key>GCM_SENDER_ID</key>
	<string>825914981253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rcdit.rider.rcditRider</string>
	<key>PROJECT_ID</key>
	<string>rcdit-1a25d</string>
	<key>STORAGE_BUCKET</key>
	<string>rcdit-1a25d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825914981253:ios:1c31502fb4c7086afa22ec</string>
</dict>
</plist>